.if-wifi::before, .if-comment::before, .if-user::before, .if-map::before, .if-cart::before, .if-date::before, .if-music::before, .if-home::before, .if-image::before, .if-video::before, .if-tags::before, .if-qrcode::before, .if-forward::before, .if-back::before, .if-loading::before, .if-refresh::before, .if-search::before, .if-con::before, .if-gift::before, .if-trashcan::before, .if-logout::before, .if-files::before, .if-question::before, .if-info::before, .if-alert::before, .if-arrow-up::before, .if-arrow-right::before, .if-arrow-down::before, .if-arrow-left::before, .if-checkbox-checked::before, .if-checkbox::before, .if-radio-checked::before, .if-radio::before, .if-mail::before, .if-heart::before, .if-star::before, .if-voice::before, .if-voice-no::before, .if-ellipsis::before, .if-pencil::before, .if-list::before, .if-lock::before, .if-phone::before, .if-target::before, .if-card::before, .if-checkmark::before, .if-cross::before, .if-plus::before, .if-minus::before, .if-angle-up::before, .if-angle-right::before, .if-angle-down::before, .if-angle-left::before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
@font-face {
  font-family: icomoon;
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/icomoon.eot");
  src: url("../fonts/icomoon.eot?#iefix") format("eot"), url("../fonts/icomoon.svg#icomoon") format("svg"), url("../fonts/icomoon.woff") format("woff"), url("../fonts/icomoon.ttf") format("truetype");
}
.if-wifi::before, .if-comment::before, .if-user::before, .if-map::before, .if-cart::before, .if-date::before, .if-music::before, .if-home::before, .if-image::before, .if-video::before, .if-tags::before, .if-qrcode::before, .if-forward::before, .if-back::before, .if-loading::before, .if-refresh::before, .if-search::before, .if-con::before, .if-gift::before, .if-trashcan::before, .if-logout::before, .if-files::before, .if-question::before, .if-info::before, .if-alert::before, .if-arrow-up::before, .if-arrow-right::before, .if-arrow-down::before, .if-arrow-left::before, .if-checkbox-checked::before, .if-checkbox::before, .if-radio-checked::before, .if-radio::before, .if-mail::before, .if-heart::before, .if-star::before, .if-voice::before, .if-voice-no::before, .if-ellipsis::before, .if-pencil::before, .if-list::before, .if-lock::before, .if-phone::before, .if-target::before, .if-card::before, .if-checkmark::before, .if-cross::before, .if-plus::before, .if-minus::before, .if-angle-up::before, .if-angle-right::before, .if-angle-down::before, .if-angle-left::before {
  display: inline-block;
  vertical-align: -2px;
  font-family: icomoon;
  font-size: 1.6rem;
  line-height: 1;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.if-wifi::before {
  content: "\e62f";
}

.if-comment::before {
  content: "\e601";
}

.if-user::before {
  content: "\e632";
}

.if-map::before {
  content: "\e61b";
}

.if-cart::before {
  content: "\e606";
}

.if-date::before {
  content: "\e607";
}

.if-music::before {
  content: "\e60f";
}

.if-home::before {
  content: "\e600";
}

.if-image::before {
  content: "\e602";
}

.if-video::before {
  content: "\e61d";
}

.if-tags::before {
  content: "\e61f";
}

.if-qrcode::before {
  content: "\e605";
}

.if-forward::before {
  content: "\e608";
}

.if-back::before {
  content: "\e609";
}

.if-loading::before {
  content: "\e60a";
}

.if-refresh::before {
  content: "\e60b";
}

.if-search::before {
  content: "\e60c";
}

.if-con::before {
  content: "\e60e";
}

.if-gift::before {
  content: "\e620";
}

.if-trashcan::before {
  content: "\e621";
}

.if-logout::before {
  content: "\e622";
}

.if-files::before {
  content: "\e624";
}

.if-question::before {
  content: "\e616";
}

.if-info::before {
  content: "\e617";
}

.if-alert::before {
  content: "\e60d";
}

.if-arrow-up::before {
  content: "\e604";
}

.if-arrow-right::before {
  content: "\e623";
}

.if-arrow-down::before {
  content: "\e611";
}

.if-arrow-left::before {
  content: "\e612";
}

.if-checkbox-checked::before {
  content: "\e625";
}

.if-checkbox::before {
  content: "\e626";
}

.if-radio-checked::before {
  content: "\e627";
}

.if-radio::before {
  content: "\e628";
}

.if-mail::before {
  content: "\f003";
}

.if-heart::before {
  content: "\f08a";
}

.if-star::before {
  content: "\f006";
}

.if-voice::before {
  content: "\f130";
}

.if-voice-no::before {
  content: "\f131";
}

.if-ellipsis::before {
  content: "\f142";
}

.if-pencil::before {
  content: "\e61c";
}

.if-list::before {
  content: "\e61e";
}

.if-lock::before {
  content: "\e62c";
}

.if-phone::before {
  content: "\e610";
}

.if-target::before {
  content: "\e603";
}

.if-card::before {
  content: "\e613";
}

.if-checkmark::before {
  content: "\e614";
}

.if-cross::before {
  content: "\e615";
}

.if-plus::before {
  content: "\e619";
}

.if-minus::before {
  content: "\e618";
}

.if-angle-up::before {
  content: "\e636";
}

.if-angle-right::before {
  content: "\e62a";
}

.if-angle-down::before {
  content: "\e629";
}

.if-angle-left::before {
  content: "\e61a";
}