*{
  -webkit-box-sizing:border-box;
  box-sizing:border-box;
}
body,ul,li,p,div{margin:0;padding:0;}
i,em{font-style:normal;}
ul,ol,li{list-style:none;}
a{text-decoration:none;}
a:hover{text-decoration:none;}
img{max-width:100%;border:none;vertical-align:top;}
body{font-size:16px;line-height:1.5em;font-family:tahoma,arial,"microsoft yahei",sans-serif;color:#4d4d4d;}
.icon{display:inline-block;vertical-align:middle;background-image:url(../img/bg.png);background-repeat:no-repeat;background-size:40px auto;}
.clearfix::after,.row::after{content:"";display:block;height:0;font:0/0 a;overflow:hidden;clear:both;}
.plr20{padding-left:20px;padding-right:20px;}
.mt15{margin-top:15px;}
.mb15{margin-bottom:15px;}
.liner{height:1px;overflow:hidden;margin:15px 0;background:#ccc;}
.alignC{text-align:center;}

.content-box{margin:0 5px;}
.top-hd{text-align:center;padding:10px 0;}
.top-hd img{max-width:50%;line-height:}

.main-module .item{float:left;margin-left:1%;margin-top:1%;height:120px;padding-top:15px;padding-left:5%;font-size:18px;line-height:1em;color:white;}
.main-module .item::after{content:"";display:block;width:75px;height:75px;background-image:url(../img/bg.png);background-repeat:no-repeat;background-size:75px auto;}
.main-module .item:first-child{margin-left:0;}
.main-module .row2 .item{width:49.5%;}
.main-module .row3 .item{width:32.66%;}
.main-module .depart{background-color:#0FC4D9;}
.main-module .depart::after{background-position:0 0;}
.main-module .car{background-color:#F48221;}
.main-module .car::after{background-position:0 -75px;}
.main-module .flight-time{background-color:#DD455A;}
.main-module .flight-time::after{background-position:0 -150px;}
.main-module .hotel{background-color:#1BC266;}
.main-module .hotel::after{background-position:0 -225px;}
.main-module .dinner{background-color:#747AE8;}
.main-module .dinner::after{background-position:0 -300px;}
.main-module .guide{background-color:#368FF5;}
.main-module .guide::after{background-position:0 -375px;}
.main-module .route{background-color:#9656F3;}
.main-module .route::after{background-position:0 -450px;}
.main-module .service{width:100%;background-color:#FB667A;}
.main-module .service::after{background-position:0 -525px;}

.bottom-ft{text-align:center;padding:8px 0;}
.bottom-ft img{max-width:50%;}
.bottom-ft .rupper{padding:10px 0;}

.title{position:relative;height:36px;padding-left:55px;width:75%;font-size:18px;line-height:34px;color:white;}
.title::before,.title::after{content:"";position:absolute;top:0;width:0;height:0;border-width:18px 10px;border-style:solid;border-color:transparent;}
.title::before{left:0;border-left-color:white;}
.title::after{right:-20px;}
.title .icon{position:absolute;width:40px;height:34px;left:20px;top:0;}
.depart-title{background:#0FC4D9;}.depart-title::after{border-left-color:#0FC4D9;}.depart-title .icon{background-position:left -8px;}
.car-title{background:#F48221;}.car-title::after{border-left-color:#F48221;}.car-title .icon{background-position:left -48px;}
.flight-time-title{padding-left:60px;background:#DD455A;}.flight-time-title::after{border-left-color:#DD455A;}.flight-time-title .icon{background-position:left -88px;}
.hotel-title{padding-left:70px;background:#1BC266;}.hotel-title::after{border-left-color:#1BC266;}.hotel-title .icon{background-position:left -128px;}
.dinner-title{padding-left:70px;background:#747AE8;}.dinner-title::after{border-left-color:#747AE8;}.dinner-title .icon{background-position:left -168px;}
.guide-title{background:#368FF5;}.guide-title::after{border-left-color:#368FF5;}.guide-title .icon{background-position:left -208px;}
.route-title{background:#9656F3;}.route-title::after{border-left-color:#9656F3;}.route-title .icon{background-position:left -248px;}
.service-title{background:#FB667A;}.service-title::after{border-left-color:#FB667A;}.service-title .icon{background-position:left -290px;}

.content{padding:20px;}
.scroll-bar{margin-bottom:20px;text-align:center;}
.scroll-bar .date{margin:0 10px;}
.prev,.next{display:inline-block;width:26px;height:26px;line-height:26px;color:white;background:#F48221;text-align:center;cursor:pointer;}
.carinfo-list li{margin:10px 0;line-height:1.2em;}
.carinfo-list .highlight{margin-right:10px;font-size:14px;}

.star{width:16px;height:16px;margin-right:3px;margin-top:-3px;overflow:hidden;background-size:50px;background-position:left -466px;}


.list .highlight{margin-right:10px;}

.flight-step{border-bottom:1px solid #ccc;margin-bottom:20px;}
.flight-step .hd{background:#E6E6E6;}
.flight-step .hd .highlight{background:#fff;padding:10px 10px 10px 0;margin-right:10px;}
.flight-step .bd{padding:15px 0;text-align:center;}
.flight-step .leave{float:left;max-width:110px;text-align:left;}
.flight-step .arrive{float:right;max-width:110px;text-align:left;}
.flight-step .bd .city{width:100%;max-width:110px;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;}
.flight-step .bd .time{font-size:26px;font-weight:bold;}
.between{display:inline-block;width:35px;}
.between .ico-plane{width:35px;height:50px;margin-top:10px;background-position:left -318px;}

.scroll-pic{position:relative;height:70%;overflow:hidden;}
.scroll-pic .pic-list li{display:none;}
.scroll-pic .pic-list .current{display:block;}
.scroll-pic .contro-dot{position:absolute;right:10px;bottom:10px;}
.scroll-pic .contro-dot span{float:left;width:12px;height:12px;margin-left:5px;overflow:hidden;border-radius:12px;background:#999;}
.scroll-pic .contro-dot .current{background:#fff;}

.depart-footer{background:#0FC4D9;color:white;}
.car-footer{background:#F48221;color:white;}
.flight-time-footer{background:#DD455A;color:white;}
.hotel-footer{background:#1BC266;color:white;}
.dinner-footer{background:#747AE8;color:white;}
.guide-footer{background:#368FF5;color:white;}
.route-footer{background:#9656F3;color:white;}
.service-footer{background:#FB667A;color:white;}

.depart .highlight{color:#0FC4D9;}
.car .highlight{color:#F48221;}
.flight-time .highlight{color:#DD455A;}
.hotel .highlight{color:#1BC266;}
.dinner .highlight{color:#747AE8;}
.guide .highlight{color:#368FF5;}
.route .highlight{color:#9656F3;}
.service .highlight{color:#FB667A;}



/*******************/
/* reset.css */
.clearfix:before,.clearfix:after{content:"";display:table}.clearfix:after{clear:both}html,body{height:100%}html{font-family:"Helvetica Neue",Helvetica,STHeiTi,Arial,sans-serif;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;font-size:62.5%}body{margin:0;font-size:1.4rem;line-height:1.5;color:#333;background-color:#fff}article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary{display:block}audio,canvas,progress,video{display:inline-block;vertical-align:baseline}audio:not([controls]){display:none;height:0}[hidden],template{display:none}a{background:transparent;text-decoration:none;-webkit-tap-highlight-color:transparent;color:#08c}a:active{outline:0}a:active{color:#069}abbr[title]{border-bottom:1px dotted}b,strong{font-weight:bold}dfn{font-style:italic}mark{background:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sup{top:-0.5em}sub{bottom:-0.25em}img{border:0;vertical-align:middle}svg:not(:root){overflow:hidden}hr{-moz-box-sizing:content-box;box-sizing:content-box;height:0}pre{overflow:auto;white-space:pre;white-space:pre-wrap;word-wrap:break-word}code,kbd,pre,samp{font-family:monospace, monospace;font-size:1em}button,input,optgroup,select,textarea{color:inherit;font:inherit;margin:0}button{overflow:visible}button,select{text-transform:none}button,html input[type="button"],input[type="reset"],input[type="submit"]{-webkit-appearance:button;cursor:pointer}button[disabled],html input[disabled]{cursor:default}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}input{line-height:normal}input[type="checkbox"],input[type="radio"]{box-sizing:border-box;padding:0}input[type="number"]::-webkit-inner-spin-button,input[type="number"]::-webkit-outer-spin-button{height:auto}input[type="search"]{-webkit-appearance:textfield;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box}input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration{-webkit-appearance:none}fieldset{border:1px solid #c0c0c0;margin:0 2px;padding:0.35em 0.625em 0.75em}legend{border:0;padding:0}textarea{overflow:auto;resize:vertical}optgroup{font-weight:bold}table{border-collapse:collapse;border-spacing:0}td,th{padding:0}html,button,input,select,textarea{font-family:"Helvetica Neue",Helvetica,STHeiTi,Arial,sans-serif}h1,h2,h3,h4,h5,h6,p,figure,form,blockquote{margin:0}ul,ol,li,dl,dd{margin:0;padding:0}ul,ol{list-style:none outside none}h1,h2,h3{line-height:2;font-weight:normal}h1{font-size:1.8rem}h2{font-size:1.6rem}h3{font-size:1.4rem}input::-moz-placeholder,textarea::-moz-placeholder{color:#ccc}input:-ms-input-placeholder,textarea:-ms-input-placeholder{color:#ccc}input::-webkit-input-placeholder,textarea::-webkit-input-placeholder{color:#ccc}
	
.header,.footer,.wrap-page{
  position:absolute;
  left:0;
  right:0;
  background-color: #fff;
}
.header,.footer{
  height:44px;
  background-color: #fff;
  text-align: center;
  z-index:900;
  line-height:44px;
}
.header{
  top: 0;
  border-bottom: 1px solid #F0F0F0;
}
.footer{
  bottom: 0;
  border-top: 1px solid ##F0F0F0;
}
.wrap-page{
  top: 0;
  bottom: 0;
  overflow:hidden;
}
.page-title{
  line-height:44px;
}
.fl{
  float:left;
}
.fr{
  float: right;
}
 
.page-active {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.page {
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  overflow-scrolling: touch;
}

.page {
  position: absolute;
  left: 0;
  width: 100%;
  top: 44px;
  bottom: 0;
  background: #fff;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.page-no-footer {
  top: 0;
  bottom: 44px;
}

.page-no-header-footer {
  top: 44px;
  bottom: 44px;
}

 

.page-prev {
  -webkit-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0);
}

.page-next {
  -webkit-transform: translate3d(100%, 0, 0);
  transform: translate3d(100%, 0, 0);
}

.page-in {
  -webkit-transition: -webkit-transform 300ms cubic-bezier(0.42, 0, 0.58, 1);
  -ms-transition: transform 300ms cubic-bezier(0.42, 0, 0.58, 1);
  transition: transform 300ms cubic-bezier(0.42, 0, 0.58, 1);
}

.page-out {
  -webkit-transition: -webkit-transform 400ms cubic-bezier(0.42, 0, 0.58, 1) 0.1s;
  -ms-transition: transform 400ms cubic-bezier(0.42, 0, 0.58, 1) 0.1s;
  transition: transform 400ms cubic-bezier(0.42, 0, 0.58, 1) 0.1s;
}

.icon-back{
  width:44px;
  height:44px;
  display: none;
  position: absolute;
  left: 0;
  top: 0;
}
.icon-back::before {
  /*content: "";
  display: inline-block;
  width: 10px;
  height: 10px;
  vertical-align: middle;
  border-left: 2px solid #ccc;
  border-bottom: 2px solid #ccc;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);*/
	content: "";
	width: 100%;
	height: 100%;
	display: block;
	background: url(../img/home.png) no-repeat center;
	background-size: 24px 24px;
}

.page-control input{
	width: 100%;
	height: 35px;
	-webkit-appearance: none;
	padding: 0 15px;
	margin-bottom: 15px;
	line-height: 21px;
	background-color: #fff;
	border: 1px solid #ddd;
	border-radius: 3px;
	outline: 0;
}

.page-control {padding:10px;}


#login {
	position: absolute;
	background: #fff;
	height: 100%;
	width: 100%;
	z-index: 901;
	display:flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
}

#login .page-control div{
	text-align:center;
	margin-bottom:10px;
}
#login .page-control img{
	width:75%;
}

/* button */
.btn {
  position: relative;
  display: inline-block;
  padding: 6px 8px 7px;
  margin-bottom: 0;
  font-size: 12px;
  font-weight: 400;
  line-height: 1;
  color: #333;
  text-align: center;
  white-space: nowrap;
  vertical-align: top;
  cursor: pointer;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 3px;
}
.btn:active, .btn.active {
  color: inherit;
  background-color: #ccc;
}
.btn:disabled, .btn.disabled {
  opacity: .6;
}

.btn-primary {
  color: #fff;
  background-color: #428bca;
  border: 1px solid #428bca;
}
.btn-primary:active, .btn-primary.active {
  color: #fff;
  background-color: #3071a9;
  border: 1px solid #3071a9;
}

.btn-positive {
  color: #fff;
  background-color: #5cb85c;
  border: 1px solid #5cb85c;
}
.btn-positive:active, .btn-positive.active {
  color: #fff;
  background-color: #449d44;
  border: 1px solid #449d44;
}
.btn-negative {
  color: #fff;
  background-color: #d9534f;
  border: 1px solid #d9534f;
}
.btn-negative:active, .btn-negative.active {
  color: #fff;
  background-color: #c9302c;
  border: 1px solid #c9302c;
}

.btn-outlined {
  background-color: transparent;
}
.btn-outlined.btn-primary {
  color: #428bca;
}
.btn-outlined.btn-positive {
  color: #5cb85c;
}
.btn-outlined.btn-negative {
  color: #d9534f;
}
.btn-outlined.btn-primary:active, .btn-outlined.btn-positive:active, .btn-outlined.btn-negative:active {
  color: #fff;
}

.btn-link {
  padding-top: 6px;
  padding-bottom: 6px;
  color: #428bca;
  background-color: transparent;
  border: 0;
}
.btn-link:active, .btn-link.active {
  color: #3071a9;
  background-color: transparent;
}

.btn-block {
  display: block;
  width: 100%;
  padding: 15px 0;
  margin-bottom: 10px;
  font-size: 18px;
}


/*»ÃµÆÆ¬*/
.pic-list{
	overflow:hidden;
	height:100%;
	-webkit-transition: -webkit-transform 300ms cubic-bezier(0.42, 0, 0.58, 1);
	-ms-transition: transform 300ms cubic-bezier(0.42, 0, 0.58, 1);
	transition: transform 300ms cubic-bezier(0.42, 0, 0.58, 1);
	-webkit-transform: translate3d(0, 0, 0);
}

.scroll-pic .contro-dot{
	transform: translate3d(0, 0, 0);
	-webkit-transform: translate3d(0, 0, 0);
}

.content dd{
	padding-left:10rem;
}

.route,.guide{
	padding-top:0px;
}

.route ul, .guide ul{
	padding-bottom: 15px;
}
.route ul{
	border-bottom: 0px solid #d2d2d2;
}
.route ul:last-child,.guide ul:last-child{
	border-bottom:none;
}

.guide .alignC{
	margin-bottom:10px;
}

.guide .scroll-bar,.route .scroll-bar{
	margin-top:20px;
	margin-bottom:0px;
}

.depart .scroll-bar{
	margin-top:20px;
}
.guide .prev,.guide .next{
	background:#368FF5;
}

.depart .prev,.depart .next{
	background:#0FC4D9;
}

.hotel .prev,.hotel .next{
	background:#1BC266;
}
.dinner .prev,.dinner .next{
	background:#747AE8;
}
.route .prev,.route .next{
	background:#9656F3;
}



.carSliderContent,.guideSliderContent,.departSliderContent,.hotelSliderContent,.dinnerSliderContent,.routeSliderContent{
	transform: translate3d(0, 0, 0);
	-webkit-transform: translate3d(0, 0, 0);
	-webkit-transition: -webkit-transform 300ms cubic-bezier(0.42, 0, 0.58, 1);
	-ms-transition: transform 300ms cubic-bezier(0.42, 0, 0.58, 1);
	transition: transform 300ms cubic-bezier(0.42, 0, 0.58, 1);
	-webkit-transform: translate3d(0, 0, 0);
}
.dinnerSliderBox{
 padding-bottom: 1px;
}

.page-a dl{
	padding: 5px;
	border-radius: 5px;
}

.page-a dt{
	
	text-align: center;
	padding: 5px;
}

.page-a dd{
	padding: 5px 0;
}
.departSliderBox{
	border:0px solid #0FC4D9;
}

.departItem{
	padding:0px;
}
 

